.p-10 {
    padding: 10px;
}

.search-row-extra {
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red, -1px -1px red, 1px 1px red, -1px 1px red, 1px -1px red;
}

.transparent-grid {
    background-color: transparent;
}